Node-RED/flows.json
[
    {
        "id": "d3f69578a5141935",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eea76b5d2f76ad5d",
        "type": "inject",
        "z": "d3f69578a5141935",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "1b094cd2c711461e"
            ]
        ]
    },
    {
        "id": "56def5c9a764aad8",
        "type": "debug",
        "z": "d3f69578a5141935",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "1b094cd2c711461e",
        "type": "function",
        "z": "d3f69578a5141935",
        "name": "function 1",
        "func": "// Lo que está después de \"//\" son comentarios \n// Crea un objeto Date a partir del msg.payload enviado por timestamp \nvar date = new Date(msg.payload); \n// Cambia el payload para que sea una fecha con formato \nmsg.payload = date.toString(); \n// Regresa el mensaje para que se envíe al siguiente nodo;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "56def5c9a764aad8"
            ]
        ]
    }
]